.container {
    color: #fff;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 500px;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}

.content-box {
    display: flex;
    gap: 1rem;
    width: 100%;
    max-width: 97%;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 2rem;
    border-radius: 16px;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.left {
    flex: 0 0 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    margin-top: 2%;
}

.left h1 {
    font-size: 3rem;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 1rem;
    color: #fff;
    line-height: 0.9;
}

.left p {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
    color: #f0f0f0;
    line-height: 1;
}

.loyalty-button {
    --slds-c-button-brand-color-background: #FFDE30;
    --slds-c-button-brand-color-border: #000;
    --slds-c-button-text-color: #000;
    font-weight: 700;
    border-radius: 2rem;
    padding: 0.75rem 1.5rem;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.right {
    display: flex;
    flex-direction: row;
    gap: 0.9rem;
    flex-wrap: nowrap;
    justify-content: flex-end;
    margin-left: auto;
}

.card {
    background-color: #ffffff;
    color: #000;
    padding: 1rem 1.2rem;
    border-radius: 1.25rem;
    width: 180px;
    box-shadow: 0 6px 20px rgba(0,0,0,0.15);
    text-align: left;
    border: 1px solid #000;
}

.card h1 {
    font-size: 1.6rem;
    font-weight: 900;
    margin-bottom: 0.25rem;
}

.card .desc {
    color: #777;
    font-size: 0.85rem;
    margin-bottom: 5px;
}

.card .price {
    font-size: 1.75rem;
    font-weight: 800;
    margin-bottom: 0.75rem;
}

.points-label {
    font-size: 1rem;
    color: #555;
    margin-left: 0.25rem;
}

.features {
    list-style: none;
    padding: 0;
    margin-bottom: 1rem;
}

.features li {
    background-color: #f0f0f0;
    margin: 0.25rem 0;
    padding: 0.45rem;
    border-radius: 8px;
    font-size: 0.85rem;
}

.tier-button {
    padding: 0.5rem 1rem;
    border: 1px solid black;
    border-radius: 0.75rem;
    font-weight: 700;
    color: #fff;
    cursor: pointer;
    width: 100%;
    text-align: center;
}

.silver-btn {
    background-color: #aaa;
}

.gold-btn {
    background-color: #f0c330;
}

.platinum-btn {
    background-color: #707070;
}

.cta-button {
    background-color: #aaa; /* or #707070 for darker */
    color: #fff;
    font-size: 1rem;
    font-weight: 700;
    padding: 0.5rem 1.5rem;
    border: 1px solid black;
    border-radius: 15px;
    cursor: pointer;
    box-shadow: none;
    transition: transform 0.2s ease, background-color 0.2s ease;
    white-space: nowrap;
    margin-top: -5px;
}

.cta-button:hover {
    background-color: #888;
    transform: scale(1.03);
}
